* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}



/*small reset*/

.grid-container {
    width: 100%;
    min-height: 1px;
    border: 5px solid red;
    margin: 0 auto;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 100%;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: $i * 100% / 12;
    }
}

.row {
    max-width: 1200px;
    border: 2px solid green;
    margin: 0 auto;
    text-align: center;
    &:before,
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}


header {
    background-color: black;
    color: white;


}

.price-plan {
    background-color: #f1f1f1;
    padding: 6vh 6vw;
    .title {
        padding-top: 2vh;
        text-transform: uppercase;
        text-align: left;
        .underline {
            content: "";
            border: 4px solid aqua;
        }
    }


    .tag {
        margin-top: 8vh;
        margin-bottom: 2vh;
        margin-left: 1vw;
        margin-right: 1vw;
        height: 50vh;
        text-align: center;
        
        position: relative;
        box-sizing: border-box;
    }

    .basic,
    .standard,
    .premium {
        border: 3px solid grey;
        border-radius: 10px;
        background-color: #F9F9F9;
        justify-content: center;
        position: relative;
        .pin-in {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: #F9F9F9;
            z-index: 2;
            top: 25%;
        }
        .pin-out {
            content: " ";
            position: absolute;
            z-index: 1;
            left: 50%;
            top: -32px;
            transform: translateX(-50%);
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: gray;
        }
        .plan {
            padding-top: 3vh;
            text-transform: uppercase;
            text-align: center;
            color: aqua;
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 3vh;
        }
        .price-circle {
            width: 13vh;
            height: 13vh;
            border-radius: 50%;
            border: 3px solid gray;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 30%;
            font-size: 4vh;
            .price {
                &::after {
                    content: 'PLN/MSC';
                    color: gray;
                    font-size: 15px;
                    
                }
            }
        }


        .content-list {
            margin-top: 20vh;
            font-size: 2.5vh;
            color: grey;
            line-height: 3vh;
            .grey-content {
                 background-color: #f1f1f1;
            }
            .dark-grey-content {
                background-color: #c2c2c2;                
            }
            white-content {
                background-color: white;
            }
        }
        button {
            background-color: aqua;
            border: none;
            width: 13vh;
            padding: 5px;
            border-radius: 5px;
            color: white;
            font-size: 2vh;
            margin-bottom: 2vh;
            position: absolute;
            bottom: 2vh;
            left: 30%;
        }
    }
}

.contact-form-box {
    padding: 6vh 6vw;
    .title {
        padding-top: 2vh;
        text-transform: uppercase;
        text-align: left;
        .underline {
            content: "";
            border: 4px solid aqua;
        }
    }
    form {
        width: 100%;
        :last-child {
            margin-top: 4vh;
        }

        input {
            width: 100%;
            border: 1px solid aqua;
            color: grey;
            padding: 1rem;
            font-size: 2rem;
        }
        input::placeholder {
            color: lightgrey;
        }
        textarea {
            width: 100%;
            border: 1px solid aqua;
            color: gray;
            padding: 1rem;
            font-size: 2rem;
        }
        textarea::placeholder {
            color: lightgrey;
        }

    }
    .form-box-r {

        padding-bottom: 4vh;
        padding-left: 4vw;
        padding-top: 4vh;

        img {
            display: block;
            width: 100%;
        }
        #agreement-checkbox {
            margin-top: 4vh;
            width: 50px;
            height: 50px;
            position: inherit;

        }
        .agreement {

            font-family: Raleway;
            font-size: 20px;
            color: gray;
            width: 186px;
            a {
                text-decoration: underline;
                color: gray;

            }
        }

        button {
            margin-top: 4vh;
            background-color: aqua;
            border: 1px solid pink;
            border-radius: 12px;
            padding: 2vh 0;
            color: white;
            text-transform: uppercase;
            font-weight: bolder;
            width: 100%;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 4vh;
            transition: background 0.3s, color 0.3s;
        }
    }
}




footer {
    padding: 6vh 6vw;
    display: flex;
    .col-5 {
        padding-left: 4vw;
    }
    p {
        text-align: left;
        line-height: 3rem;
        color: gray;
    }
    .footer-media {
        display: flex;
    }
    .footer-logo {
        text-align: right;
        text-transform: uppercase;
        font-size: 1.5em;
        span {
            font-weight: 900;
        }
    }
}
