* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}



/*small reset*/

.grid-container {
    width: 100%;
    min-height: 1px;
    border: 5px solid red;
    margin: 0 auto;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 100%;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: $i * 100% / 12;
    }
}

.row {
    max-width: 1200px;
    border: 2px solid green;
    margin: 0 auto;
    text-align: center;
    &:before,
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}


header {
    background-color: black;
    color: white;


}

.price-plan {
    background-color: lightgray;
    padding: 6vh 6vw;
    .title {
        padding-top: 2vh;
        text-transform: uppercase;
        text-align: left;
        .underline {
            content: "";
            border: 4px solid aqua;
        }
    }
    
    .basic,
    .standard, 
    .premium {
        border: 3px solid grey;
        border-radius: 5px;
        
    }
    
}

.contact-form-box {
    padding: 6vh 6vw;
    .title {
        padding-top: 2vh;
        text-transform: uppercase;
        text-align: left;
        .underline {
            content: "";
            border: 4px solid aqua;
        }
    }
    form {
        width: 100%;
        :last-child {
            margin-top: 4vh;
        }

        input {
            width: 100%;
            border: 1px solid aqua;
            color: grey;
            padding: 1rem;
            font-size: 2rem;
        }
        input::placeholder {
            color: lightgrey;
        }
        textarea {
            width: 100%;
            border: 1px solid aqua;
            color: gray;
            padding: 1rem;
            font-size: 2rem;
        }
        textarea::placeholder {
            color: lightgrey;
        }

    }
    .form-box-r {

        padding-bottom: 4vh;
        padding-left: 4vw;
        padding-top: 4vh;

        img {
            display: block;
            width: 100%;
        }
        #agreement-checkbox {
            margin-top: 4vh;
            width: 50px;
            height: 50px;
            position: inherit;

        }
        .agreement {

            font-family: Raleway;
            font-size: 20px;
            color: gray;
            width: 186px;
            a {
                text-decoration: underline;
                color: gray;

            }
        }

        button {
            margin-top: 4vh;
            background-color: aqua;
            border: 1px solid pink;
            border-radius: 12px;
            padding: 2vh 0;
            color: white;
            text-transform: uppercase;
            font-weight: bolder;
            width: 100%;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 4vh;
            transition: background 0.3s, color 0.3s;
        }
    }
}




footer {
    padding: 6vh 6vw;
    display: flex;
    .col-5 {
        padding-left: 4vw;
    }
    p {
        text-align: left;
        line-height: 3rem;
        color: gray;
    }
    .footer-media {
        display: flex;
    }
    .footer-logo {
        text-align: right;
        text-transform: uppercase;
        font-size: 1.5em;
        span {
            font-weight: 900;
        }
    }
}
